<!doctype html>
<html>
<head>
    {% load static %}
    <link href="{% static "movieweb/css/main.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'detail' 1 %}">Movie</a></li>
            <li><a href="{% url 'star' %}">Stars</a></li>
        </ul>
        </nav>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>