{% extends "movieweb/entity_listing.html" %}

{% block entity_item %}
<a href="{% url 'movie-info' entity.id %}">
    {{ entity.title}} 
    ({{ entity.year|default:"nc" }}, 
    {{ entity.duration|default:"nc"}} 
    {% if entity.duration %}mn{% endif %})</a>
<a class="modify" href="{% url 'movie-update' entity.id %}">*</a>
{% endblock %}

{% block add_item %}
<a class="add" href="{% url 'movie-add' %}">+</a>
{% endblock %}

{% block title %}
    {% with entity_name="Movie" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block summary %}
    {% with entity_list=movies entity_name="Movie" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block search %}
Movie search:
<ul><li>
    <form method="get" action="{% url 'movies-by-year' %}">
        <label for="year">Year</label>
        <input name="year" value="2020" type="number" min="1850">
        <input value="search" type="submit">
    </form>
</li>    
</ul>
{% endblock %}

{% block content %}
    {% with entity_list=movies entity_name="Movie" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

